*,
*::before,
*::after{
    box-sizing: border-box;
}


/* props */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg:300;
    --fw-bold:900;

    --clr-light:#D4D4D4;
    --clr-dark:#181717;
    --clr-accent:#FF2626;

    --fs-h1: 2.5rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25);

}

@media(min-width: 800px){
    :root{
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem; 
    }
}

/* General Styles */
body{
    background-color: var(--clr-light);
    color:var(--clr-dark);
    margin:0;
    font-family:var(--ff-primary);
    font-size:var(--fs-body);
}

section {
    padding: 5em 2em;
}

img{
    display:block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold) }

:focus{
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Button */
.btn{
    display: inline-block;
    padding: .5em 1.5em;
    background: var(--clr-accent);
    color:var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover{
    transform: scale(1.2);
}

/* Typography */

h1,
h2,
h3{
    line-height: 1.1;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.section__title{
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight:var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle{
    margin:0;
    font-size:var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about{
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom:1em;
}

.section__subtitle--work{
    color:var(--clr-accent);
    font-weight: var(--clr-light);
    margin-bottom: 1em;
}

/* header */

.logo{
    width: 10%;
}

nav { display: none; }

/*  Intro section  */

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
}

@media (min-width:600px){
    .intro{
        margin: 0 auto;
        display:grid;
        grid-column-gap:1em;
        width:min-content;
        grid-template-areas:
        "img title"
        "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img{
        grid-area: img;
        min-width: 250px;
        position:relative;
    }

    .section__subtitle--intro{
        align-self: start;
        grid-column: -1/1;
        grid-row:2;
        text-align: right;
        position: relative;
        left:-1.5em;
        width:calc(100%+1.5em)
    }
}

/* technologies section */ 

.my-technologies{
    background-color: var(--clr-dark);
    background-image: url(/img/technologies-bg.jpg);
    background-size: cover;
    color: var(--clr-light);
    text-align: center;
}

.technologies{
    margin:0 auto;
    width: 70%;
    display:grid;

}

.technology{
    width:80%;
    justify-content: center;
}

.technology i{
font-size:60px;
}

.technology p{
    opacity: 0.0;
    transform:translate(0, -40px);
    font-weight: var(--fw-bold);
    text-transform:uppercase;
    text-align: center;
}

i:hover+p{
   opacity:1.0;
   transform:translate(0,-10px);
   transition:1s;
}

/* technologies hover */

.technology i:hover{
    transition:0.8s;
}

.fa-html5:hover{
    color:#F1662A;
}

.fa-css3-alt:hover{
   color: #33A9DC;
}

.fa-js:hover{
    color:#F7DF1E;
}

.fa-react:hover{
    color:#61DAFB;
}

.fa-git-alt:hover{
    color:#F05133;
}

.fa-github:hover{
    color:#3E75C3;
}

.section__title--technologies{
    margin:0 auto 40px;
    color: var(--clr-accent);
    position: relative;
}

i{
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
}

@media(min-width:800px){
    .technologies{
        display:flex;
        max-width: 1000px;
        margin:0 auto;
    }
}

/* About me */
.about-me{
    max-width: 1000px;
    margin:0 auto;
}

.about-me__img{
    box-shadow:var(--bs);
}

@media (min-width:600px){
    .about-me{
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas:
        "title img"
        "subtitle img"
        "text img";
        grid-column-gap: 2em;
    }

    .section__title--about{
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }

    .about-me__img{
        grid-area:img;
        position:relative;
    }
}

.my-work{
    background-color:var(--clr-dark);
    color:var(--clr-light);
    text-align: center;
}

.portfolio{
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

.portfolio__item{
    color:rgba(0, 0, 0, 0);
    position: relative;
    transition: 1s;
}

.portfolio__item--about{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.portfolio__item:hover{
    color:rgba(256, 256, 256, 100%);
    transition: 1s;
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}